{{- $minioUser := .Values.minio.rootUser -}}
{{- $minioPassword := .Values.minio.rootPassword -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-metastore-config
data:
  hive-site.xml: |
    <configuration>
      <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:postgresql://metastore-db:5432/{{ .Values.postgres.db }}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>org.postgresql.Driver</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>{{ .Values.postgres.user }}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>{{ .Values.postgres.password }}</value>
      </property>
      <property>
        <name>datanucleus.autoCreateSchema</name>
        <value>false</value>
      </property>
      <property>
        <name>hive.metastore.schema.verification</name>
        <value>true</value>
      </property>
    </configuration>
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: trino-catalog-config
data:
  iceberg.properties: |
    connector.name=iceberg
    iceberg.catalog.type=hive_metastore
    iceberg.file-format=PARQUET
    iceberg.compression-codec=ZSTD
    hive.metastore.uri=thrift://hive-metastore:9083
    fs.hadoop.enabled=false
    fs.native-s3.enabled=true
    s3.endpoint=http://minio:9000
    s3.aws-access-key={{ .Values.minio.rootUser }}
    s3.aws-secret-key={{ .Values.minio.rootPassword }}
    s3.path-style-access=true
    s3.region=us-east-1
  hive.properties: |
    connector.name=hive
    hive.metastore.uri=thrift://hive-metastore:9083
    fs.hadoop.enabled=false
    fs.native-s3.enabled=true
    s3.endpoint=http://minio:9000
    s3.aws-access-key={{ .Values.minio.rootUser }}
    s3.aws-secret-key={{ .Values.minio.rootPassword }}
    s3.path-style-access=true
    s3.region=us-east-1
  tpcds.properties: |
    connector.name=tpcds
  generator.properties: |
    connector.name=generator
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "trino"
        static_configs:
          - targets: ["trino:8080"]

      - job_name: "spark"
        static_configs:
          - targets: ["spark:4040"]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning-config
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
  dashboards.yml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        options:
          path: /var/lib/grafana/dashboards