apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init-{{ .Release.Revision }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    metadata:
      name: minio-init
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-minio
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z minio 9000; do echo waiting for minio; sleep 2; done"]
      containers:
        - name: mc
          image: minio/mc
          env:
            - name: MINIO_ROOT_USER
              value: {{ .Values.minio.rootUser }}
            - name: MINIO_ROOT_PASSWORD
              value: {{ .Values.minio.rootPassword }}
          command:
            - sh
            - -c
            - |
              sleep 5
              mc alias set local http://minio:9000 {{ .Values.minio.rootUser }} {{ .Values.minio.rootPassword }}
              mc mb -p local/{{ .Values.minio.bucket }} || true
