apiVersion: batch/v1
kind: Job
metadata:
  name: spark-etl-job
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: spark
        image: bitnami/spark:3.5
        command:
          - spark-submit
          - /etl/etl_iceberg.py
        volumeMounts:
          - name: etl
            mountPath: /etl
      volumes:
        - name: etl
          configMap:
            name: spark-etl-code
