global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "trino"
    static_configs:
      - targets: ["trino:8080"]

  - job_name: spark
    metrics_path: /metrics/prometheus
    static_configs:
      - targets:
          - spark-iceberg:4040
    
