apiVersion: v1
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "trino"
        static_configs:
          - targets: ["trino:8080"]

      - job_name: "spark"
        static_configs:
          - targets: ["spark:4040"]
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: prometheus
  name: prometheus-cm1
