version: "3.8"

services:

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file: .env
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  minio-init:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5 &&
      mc alias set local http://minio:9000 $MINIO_USER $MINIO_PASSWORD &&
      mc mb -p local/warehouse
      "
    env_file: .env

  metastore-db:
    image: postgres:13
    container_name: metastore-db
    env_file: .env

  hive-metastore:
    image: apache/hive:3.1.3
    container_name: hive-metastore
    depends_on:
      - metastore-db
    ports:
      - "9083:9083"
    volumes:
      - ./metastore/hive-site.xml:/opt/hive/conf/hive-site.xml
    environment:
      SERVICE_NAME: metastore

  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    volumes:
      - ./trino:/etc/trino/catalog
    depends_on:
      - hive-metastore

  spark:
    build: ./spark
    container_name: spark
    volumes:
      - ./etl:/etl
    depends_on:
      - hive-metastore
      - minio

  airflow:
    build: ./airflow
    ports:
      - "8081:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./etl:/etl
    depends_on:
      - spark

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
  
volumes:
  minio-data:
